{% set setup = salt['pillar.get']('devops_portal:setup') %}
{% set config = salt['pillar.get']('devops_portal:config', default={
  "base_dir": "/srv/volumes/devops_portal",
}, merge=True) %}

{% macro service_url(endpoint) -%}
{%- if endpoint.get('https', False) -%}https://{%- else -%}http://{%- endif -%}
{%- if endpoint.get('custom_path', None) -%}
{{ endpoint.address }}:{{ endpoint.port }}/{{ endpoint.custom_path }}
{%- else -%}
{{ endpoint.address }}:{{ endpoint.port }}/
{%- endif -%}
{%- endmacro %}

{% macro service_url_dns(endpoint) -%}
{%- if endpoint.get('https', False) -%}https://{%- else -%}http://{%- endif -%}
${{ endpoint.address|replace("-", "_") }}:{{ endpoint.port }}
{%- endmacro %}


{% set services = [
'artifactory',
'elasticsearch',
'gerrit',
'jenkins',
'pushkin',
'riverdelta',
'rundeck',
'securitymonkey',
'grafana',
'stacklight-grafana',
'stacklight-kibana',
'stacklight-prometheus',
'janitormonkey',
] %}
