Source: salt-formula-devops-portal
Maintainer: Ilya Kharin <ikharin@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://mirantis.com
Vcs-Browser: https://github.com/salt-formulas/salt-formula-devops-portal
Vcs-Git: https://github.com/salt-formulas/salt-formula-devops-portal.git

Package: salt-formula-devops-portal
Architecture: all
Depends: ${misc:Depends}
Description: devops-portal salt formula
 Install and configure the DevOps portal.
